<link rel="stylesheet" type="text/css" href="../common/common.css">
<link rel="stylesheet" type="text/css" href="view.css">

<div id="main">

    <p id="errors"></p>

    <a href="../edit/view.html" id="create-config-doc" class=".button">New</a>

    <table id="current-configs">
        <thead>
            <tr>
                <th>inode</th>
                <th>title</th>
                <th>modDate</th>
                <th>modUser</th>
                <th>archived</th>
                <th>live</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="current-configs-body">
        </tbody>
    </table>

</div>

<script type="text/javascript" src="http://localhost/html/js/dojo/custom-build/dojo/dojo.js"></script>
<script type="text/javascript" src="../common/api.js"></script>
<script type="text/javascript" src="view.js"></script>