.ace_editor {
    height: 500px;
    border: 1px solid #C0C0C0;
}
.ace_scrollbar { overflow: auto; }

button#save {
    margin: 10px 0;
}
span#save-icon {
    margin: 0 2px 1px 2px;
    padding-bottom: 2px;
}
span#save-text {
    margin-right: 3px;
    vertical-align: middle;
}
