<link rel="stylesheet" type="text/css" href="../common/common.css">
<link rel="stylesheet" type="text/css" href="view.css">

<div id="main">

    <p id="errors"></p>

    <form id="edit-config" name="edit-config" method="post">
        <input type="hidden" id="config" name="config" />
        <label for="title">Title</label><input type="text" id="title" name="title" />
        <div id="config-editor"></div>
        <button id="save" type="button">
            <span id="save-icon" class="dijitIcon saveIcon"></span><span id="save-text">Save</span>
        </button>
    </form>

</div>

<script type="text/javascript" src="http://localhost/html/js/dojo/custom-build/dojo/dojo.js"></script>
<script type="text/javascript" src="http://localhost/html/js/ace-builds-1.2.3/src-noconflict/ace.js" charset="utf-8"></script>
<script type="text/javascript" src="../common/api.js"></script>
<script type="text/javascript" src="view.js"></script>